* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.home-button {
  font-size: large;
  padding: 0.5rem;
}

.home-wrapper {
  padding-top: 5rem;
}

.welcome-text {
  font-size: 2rem;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2.3rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: 0.5rem 0;
}

.nav li:hover {
  background-color: #777;
}

.nav li.active {
  background-color: #555;
}

.container {
  margin: 1rem;
  text-align: center;
}

.each-quote {
  margin: 2.5rem 0;
}

/* FOR LOADING SPINNER */
@keyframes ldio-makaxxho5uq {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-makaxxho5uq div {
  position: absolute;
  width: 92.4px;
  height: 92.4px;
  border: 15.4px solid #0a0a0a;
  border-top-color: transparent;
  border-radius: 50%;
  animation: ldio-makaxxho5uq 1s linear infinite;
  top: 77px;
  left: 77px;
  box-sizing: content-box;
}

.loadingio-spinner-rolling-523yg69li7p {
  width: 154px;
  height: 154px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
  margin-top: 5rem;
}

.ldio-makaxxho5uq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
